# BEGIN (mt) controlled settings
<IfModule !mod_fcgid.c>
  AddHandler php-stable .php
</IfModule>
<IfModule mod_fcgid.c>
  AddHandler fcgid-script .php
  <Files *.php>
    Options +ExecCGI
  </Files>
</IfModule>
# END (mt) controlled settings
